<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kotlindemo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Services -->
        <service
            android:name="com.kotlindemo.activity.otherthings.location.LocationUpdatesIntentService"
            android:exported="false" />
        <service
            android:name="com.kotlindemo.activity.otherthings.location.LocationUpdateService"
            android:exported="false" />
        <service
            android:name="com.kotlindemo.activity.otherthings.location.FusedLocationService"
            android:exported="true" />

        <service
            android:name="com.kotlindemo.activity.otherthings.location.EndlessService"
            android:enabled="true"
            android:exported="false"
            android:process=":EndlessService" />

        <service
            android:name=".activity.behavior.downloadmanager.DownloadFileService"
            android:enabled="true"
            android:exported="false" />

        <!-- BroadcastReceiver -->
        <receiver
            android:name="com.kotlindemo.activity.otherthings.location.LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kotlindemo.activity.location.action.PROCESS_UPDATES" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/main_activity_title"
            android:theme="@style/Theme.MyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kotlindemo.activity.behavior.camera.CameraActivity"
            android:label="@string/camerax_activity_title"
            android:theme="@style/Theme.MyApp" />

        <activity
            android:name="com.kotlindemo.activity.behavior.BehaviorActivity"
            android:label="@string/behavior_activity_title"
            android:theme="@style/Theme.MyApp" />

        <activity
            android:name="com.kotlindemo.activity.otherthings.shimmer.ShimmerDemoActivity"
            android:label="@string/shimmer_effect_activity_title"
            android:theme="@style/Theme.MyApp" />

        <activity
            android:name="com.kotlindemo.activity.otherthings.OtherThingsActivity"
            android:label="@string/other_activity_title"
            android:theme="@style/Theme.MyApp" />

        <activity
            android:name="com.kotlindemo.activity.networklibs.NetworkLibsActivity"
            android:label="@string/network_lib_activity_title"
            android:theme="@style/Theme.MyApp" />

        <activity
            android:name="com.kotlindemo.activity.androidpatterns.AndroidPatternsActivity"
            android:label="@string/android_pattern_activity_title"
            android:theme="@style/Theme.MyApp" />

        <activity
            android:name="com.kotlindemo.activity.architecture.ArchitectureActivity"
            android:label="@string/architecture_activity_title"
            android:theme="@style/Theme.MyApp" />

        <activity
            android:name="com.kotlindemo.activity.architecture.room.NewWordActivity"
            android:label="@string/enter_word_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kotlindemo.activity.architecture.room.RoomActivity"
            android:label="@string/room_activity_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kotlindemo.activity.androidpatterns.mvvm.QuotesActivity"
            android:label="@string/mvvm_activity_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kotlindemo.activity.architecture.livedata.LiveDataActivity"
            android:label="@string/livedata_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.architecture.lifecycle.LifeCycleActivity"
            android:label="@string/lifecycle_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.architecture.viewmodel.ViewModelActivity"
            android:label="@string/viewmodel_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.architecture.databinding.DataBindingActivity"
            android:label="@string/databinding_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.architecture.databinding2.DataBindingActivity2"
            android:label="@string/databinding_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.architecture.databinding2.OtherActivity"
            android:label="@string/databinding_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.architecture.workermanager.WorkManagerActivity"
            android:label="@string/workmanager_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".activity.coroutines.CoroutinesActivity"
            android:label="@string/coroutine_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".activity.motion.MotionActivity"
            android:label="@string/motion_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".activity.motion.MotionByLayoutActivity"
            android:label="@string/motion_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".activity.motion.MotionByConstraintSetActivity"
            android:label="@string/motion_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".activity.motion.MotionByConstraintSetPlusCustomAttributeActivity"
            android:label="@string/motion_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".activity.motion.MotionByConstraintSetPlusKeyFrameActivity"
            android:label="@string/motion_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.networklibs.retrofitdemo.RetrofitDemoActivity"
            android:label="@string/retrofit_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.networklibs.retrofitdemo2.RetrofitDemoActivity"
            android:label="@string/retrofit_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.androidpatterns.mvp.view.MVPDemoActivity"
            android:label="@string/mvp_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.androidpatterns.mvc.view.MVCDemoActivity"
            android:label="@string/mvc_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.otherthings.location.LocationDemoActivity"
            android:label="@string/location_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.otherthings.inappupdates.AppUpdatesDemoActivity"
            android:label="@string/app_updates_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.otherthings.rxjava.ui.RxJavaDemoActivity"
            android:label="@string/rxjava_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.otherthings.ui.AutoTextViewDemoActivity"
            android:label="@string/auto_size_textview_activity_title"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.kotlindemo.activity.architecture.navigation.NavigationDemoActivity"
            android:label="@string/navigation_activity_title"
            android:theme="@style/Theme.MyApp">
            <!-- TODO: This intent filter will be unnecessary in the future. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="www.example.com" />
                <data android:pathPrefix="/user/" />
            </intent-filter>
        </activity>
    </application>

</manifest>